table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.img-container {
  width: 70px;
  max-height: 80px;
  overflow: hidden;
  // display: block;

  img {
    width: 20%;
  }
}