<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <img src="" class="img-fluid" alt="">
        </div>
        <div class="col-8">
            <h1 class="display-4">lorem</h1>
            <p class="h5">lorem</p>
            <p class="h5">lorem</p>
        </div>
    </div>
</div>
<div class="container mt-2">

    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
        <div class="row no-gutters">
            <div class="col-md-1  align-self-center">
                <img src="" class="rounded-circle" alt="" style="width: 75px; height: 75px;">
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <h5 class="card-title">lorem</h5>
                    <p class="card-text">lorem</p>
                </div>
                <div class="card-body text-right">
                    <a href="#" class="card-link"><i class="fas fa-eye"></i> Card link</a>
                    <a href="#" class="card-link"><i class="fas fa-user-minus"></i> Another link</a>
                </div>
            </div>
        </div>
    </div>

</div>